<!--# include virtual="/msportal/fragment/header" -->
<app-app-header></app-app-header>
<h3>Welcome to the Products Application</h3>
<div>
  <p>Available Services</p>
  <ul>
    <li>
      <a href="http://192.168.99.100/msportal/home/">Portal Home</a>
    </li>
    <li>
      <a href="http://192.168.99.100/msportal/cart/">Cart Items</a>
    </li>
    <li>
      <a href="http://192.168.99.100/msportal/customerdb/">View CustomerDB Details</a>
    </li>
  </ul>
</div>
<div>
  <app-alert></app-alert>
</div>
  <div class="container-fluid">
    <div class="page-header">
      <h3>Creating AOT Dynamic Components</h3>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">Application Code</div>
            <div class="panel-body">
              <div class="input-group">
                <span class="input-group-btn">
                  <!--This will ask the Library to add a create a new instance of the supplied Component, and in turn render it-->
                    <button type="button" class="btn btn-primary" (click)="grid.addDynamicCellComponent(selectedComponentType)">Add Dynamic Grid component</button>
                </span>
                <select class="form-control" [(ngModel)]="selectedComponentType">
                  <option *ngFor="let cellComponentType of componentTypes" [ngValue]="cellComponentType">{{cellComponentType.name}}>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">Library Code</div>
          <div class="panel-body">
            <app-grid #grid></app-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
<h1>Products</h1>
<div>
  <ul style="display:flex;">
    <li style="width:100px;margin-left:10px;border:2px solid #333;padding-left:20px;padding-bottom:20px;list-style-type:none;">
      <h3>Rice</h3>
      <div style="margin-top:5px;margin-bottom:5px;">$31.63</div>
      <div>
        <button type="button">Buy</button>
      </div>
    </li>
    <li style="width:100px;margin-left:10px;border:2px solid #333;padding-left:20px;padding-bottom:20px;list-style-type:none;">
      <h3>Beans</h3>
      <div style="margin-top:5px;margin-bottom:5px;">$16.89</div>
      <div>
        <button type="button">Buy</button>
      </div>
    </li>
    <li style="width:100px;margin-left:10px;border:2px solid #333;padding-left:20px;padding-bottom:20px;list-style-type:none;">
      <h3>Fries</h3>
      <div style="margin-top:5px;margin-bottom:5px;">$97.95</div>
      <div>
        <button type="button">Buy</button>
      </div>
    </li>
    <li style="width:100px;margin-left:10px;border:2px solid #333;padding-left:20px;padding-bottom:20px;list-style-type:none;">
      <h3>Steak</h3>
      <div style="margin-top:5px;margin-bottom:5px;">$75.24</div>
      <div>
        <button type="button">Buy</button>
      </div>
    </li>
  </ul>
</div>
<!--# include virtual="/msportal/fragment/footer" -->
